.App {
    height: 100%;
    color: #fff;
    background: #1b1b1b;
    font-family: 'Satoshi', sans-serif;
}

.container {
    /* background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff !important; */
    background: #fff;
    color: #ff0000;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* Webkit Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #1b1b1b, #000);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ff0000, #ff4444);
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #ff0000, #ff6666);
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(to bottom, #ff0000, #ff8888);
}

/* Firefox Scrollbar */
html {
    scrollbar-width: thin;
    scrollbar-color: #ff0000 #1b1b1b;
}

html::-moz-scrollbar {
    width: 10px;
}

html::-moz-scrollbar-track {
    background: linear-gradient(to bottom, #1b1b1b, #000);
}

html::-moz-scrollbar-thumb {
    background: linear-gradient(to bottom, #ff0000, #ff4444);
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

html::-moz-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #ff0000, #ff6666);
}

html::-moz-scrollbar-thumb:active {
    background: linear-gradient(to bottom, #ff0000, #ff8888);
}



.footer {
    background-color: #1b1b1b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .footer-text {
    flex-grow: 1;
  } */

.footer-text span {
    font-size: 14px;
}

.footer-icon {
    margin-left: 10px;
}

.footer-icon a {
    color: white;
}

.footer-icon a:hover {
    color: #ff0000;
    transition: 0.3s;
}

.orange_gradient {
    @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent !important;
}